* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.background {
    background-image: url('../Images/Design sem nome (2) (1).png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 12%;
    height: 190px;
}

.logo {
    /*color: #fff;
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 1px;*/
    width: 200px;
    height: 200px;
}

span {
    color: #ff0000
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }

        nav ul li a:hover {
            color: #f9004d;
            transform: .4s;
        }

.btn {
    background-color: #800000;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 30px;
    transition: transform .4s;
    font-size: 20px;
}

    .btn:hover {
        transform: scale(1.2);
    }


.Main {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

    .Main span {
        color: #fff;
    }



.banner {
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 75px;
    font-family: 'Rampart One', sans-serif;
   
}



h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
    /*font-family: 'Rubik Wet Paint', sans-serif;*/
    font-family: 'Rampart One', sans-serif;
   
}

.descricao {
    color: #7D7D7D;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.Main .text-3 span {
    color: #00804b;
    font-weight: 500;
}



/*Cardápio*/

.Container-serviços {
    background-color: #040404;
    width: 100%;
    padding: 100px 0px;
}


.title h2 {
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

/*.Caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}*/

.Caixa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 900px;
}

.Card {
    background: linear-gradient(90deg, #040404, #737373);
    max-height: 540px;
    min-height: 240px;
    width: 435px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin: 120px; /**/
    margin-top: 10px;
    width: calc(50% - 400px);
    height: 280px;
    display: flex;
    /*text-align: center;*/
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.img-card {
    height: 210px;
    width: 210px;
    margin-right: 20px;
}

.titulo-cardapio {
    color: #DA8E26;
    margin: 0px;
}

.text-container {
    text-align: left;
}

h5 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

button {
    background-color: #ff0000;
    color: #fff;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
    font-size: 17px;
    float: right;
    margin-right: 10px;
}

    button:hover {
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;
    }

.Paragrafo-button {
    color: #7D7D7D;
    /*color: #fff;*/
    font-size: 18px;
    line-height: 27px;
    margin-top: 10px;
}

    .Paragrafo-button button {
        margin-top: 25px;
    }

.button-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.comprar-agora {
    background-color: #800000;
    color: #fff;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    padding: 23px 25px;
    border-radius: 30px;
    transition: .4s;
    font-size: 20px;
}


.centered-button {
    text-align: center;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

/*parte do telefone*/
.Container-telefone {
    background-color: #DA8E26;
    width: 100%;
    padding: 100px 0px;
}

.img-telefone {
    width: 330px;
    margin: 30px auto;
    text-align: center;
    display: flex;
}

h1 {
    margin: 20px 0px 20px;
    font-size: 75px;
}

.titulo-abaixo {
    width: 268px;
    display: flex;
    margin: 30px auto;
}


.Caixa-telefone {
    text-align: center;
    lign-items: center;
    justify-content: center;
}

/*.titulo-telefone {
    color: #800000
}

h1.titulo-telefone,
h5 {
    display: inline-block;
    text-align: center;
}*/

.titulo-telefone {
    color: #800000;
    align-items: center;
    display: flex;
}

span08 {
    font-size: 24px;
    color: white;
    margin: 20px 11px 20px;
}

.telefone {
    text-align: left;
    display: flex;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    width: 600px;
    letter-spacing: 0.1px;
}

/*imagem cheddar*/



/*footer*/
footer {
    color: #FFF;
}

#footer_content {
    background-color: #800000;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_contacts img {
    width: 200px;
    height: 200px;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

    #footer_social_media .footer-link {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 2.5rem;
        width: 2.5rem;
        color: aqua;
        border-radius: 50%;
    }

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    text-align: center;
}

    .footer-list h3 {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .footer-list .footer-link {
        color: #FF8F1B;
        transition: all 0.4s;
    }

        .footer-list .footer-link:hover {
            color: white;
        }

#footer_copyright {
    color: #DA8E26;
    display: flex;
    justify-content: center;
    background-color: #800000;
    font-size: 1.9rem;
    padding: 1.5rem;
    font-weight: 300;
}

.background-onda {
    background-color: #800000
}


/*compelmento*/

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
}

    #footer_social_media .footer-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        color: var(--color-neutral-40);
        border-radius: 50%;
        transition: all 0.4s;
    }

        #footer_social_media .footer-link i {
            font-size: 1.25rem;
        }

        #footer_social_media .footer-link:hover {
            opacity: 0.8;
        }

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}



/**************************************************************/
/*Cardapio*/

.background-cardapio {
    background-image: url('../Images/cardapio.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.Main-center {
    position: absolute;
    top: 50%;
    left: 16%;
    text-align: center;
    transform: translateY(-50%);
}

.banner-cardapio {
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 50px;
}

h2 {
    color: #fff;
    font-size: 25px;
}

.background-onda-cardapio {
    margin-top: -20%;
    height:327px;
}

.Container-cardapio {
    background-color: #000;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    font-size: 60px;
    text-align: left;
    margin-left: 5%;
}


.Caixa-cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Card-cardapio {
    background: linear-gradient(90deg, #040404, #737373);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin: 60px; /**/
    margin-top: 80px;
    width: calc(50% - 600px);
    height: 280px;
    width: 500px;
    display: flex;
    /*text-align: center;*/
}

.card-container-cardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.img-card {
    height: 210px;
    width: 210px;
    margin-right: 20px;
}

    
