<body>
   <div class="background-cardapio">
       <nav>
         <img src="~/Images/BELLAVINI__1_-removebg-preview.png" class="logo" />

        <ul class="cabeçalho-link">
            <li><a href="/home/index">Inicio</a></li>
            <li><a href="/home/cardapio">Cardápio</a></li>
            <li><a href="#footer_content">Contato</a></li>

        </ul><!--cabeçalho-link-->
        <a href="#" class="btn">Fazer Pedido</a>
    </nav>
    <div class="Main-center">
        <h1 class="banner-cardapio">Variedades e explosão de sabores em cada mordida!</h1>
        <h2>Conheça nosso Cardápio</h2>


        </div><!--Main-->
    </div><!--Background-->

    <div class="background-onda-cardapio">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#000" fill-opacity="1" d="M0,32L34.3,32C68.6,32,137,32,206,48C274.3,64,343,96,411,138.7C480,181,549,235,617,218.7C685.7,203,754,117,823,80C891.4,43,960,53,1029,85.3C1097.1,117,1166,171,1234,181.3C1302.9,192,1371,160,1406,144L1440,128L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path>
</svg>
</div>

  <div class="Container-cardapio">
    <div class="title">
        <h2>BURGUER</h2>
    </div><!--title-->

    <div class="Caixa-cardapio">
        <div class="Card-cardapio">
            <div class="card-container-cardapio">
            <img src="~/Images/Capa_do_Site_hamburguer-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">X - Bella</h5>
            <div class="Paragrafo-button">
               <p>Pão de gergilim, carne de 200g, alface,
                   tomate, cebola roxa, bacon,
                   mussarela, molho de bacon.</p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>
       
        <div class="Card-cardapio">
            <div class="card-container-cardapio">
            <img src="~/Images/Capa_do_site-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">Vini</h5>
            <div class="Paragrafo-button">
               <p>Pão de gergilim, carne de 200g, queijo bleu,cebola crispy, bacon, tomate, alface, esffira de queijo, molho verde.</p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>

      <div class="Card-cardapio">
            <div class="card-container-cardapio">
            <img src="~/Images/Capa_do_Site_hamburguer-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">BellaTudo</h5>
            <div class="Paragrafo-button">
               <p>Pão de brioche, carne de 200g, linguiça,
                   bacon, mussarela, presunto, ovo,
                   cebola roxa, catupiry, alface,
                   tomate e molho barbecue.</p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>

      <div class="Card-cardapio">
            <div class="card-container-cardapio">
            <img src="~/Images/Capa_do_Site_hamburguer-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">4 Queijos</h5>
            <div class="Paragrafo-button">
               <p>Pão de brioche, carne de 200g, catupiry,
                   parmesão, queijo gorgonzola,
                   mussarela, molho verde.</p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>

      <div class="Card-cardapio">
            <div class="card-container-cardapio">
            <img src="~/Images/Capa_do_Site_hamburguer-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">BellaTudo</h5>
            <div class="Paragrafo-button">
               <p>Pão de brioche, carne de 200g, linguiça,
                   bacon, mussarela, presunto, ovo,
                   cebola roxa, catupiry, alface,
                   tomate e molho barbecue.</p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>

      <div class="Card-cardapio">
            <div class="card-container-cardapio">
            <img src="~/Images/Capa_do_Site_hamburguer-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">4 Queijos</h5>
            <div class="Paragrafo-button">
               <p>Pão de brioche, carne de 200g, catupiry,
                   parmesão, queijo gorgonzola,
                   mussarela, molho verde.</p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>


    </div><!--Caixa-->

    

</div><!--Conatiner-serviços-->

@*Bebidas*@
<div class="Container-serviços">
    <div class="title">
        <h2>BEBIDAS</h2>
    </div><!--title-->

    <div class="Caixa-cardapio">
        <div class="Card">
            <div class="card-container">
            <img src="~/Images/citrus-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">Schweppes Citrus Lata 350ml</h5>
            <div class="Paragrafo-button">
               <p>Elaborado com água gaseificada,
                   açúcar, suco de maçã, grapfruit e laranja,
                   aroma natural e corante artificial tartrazina.
               </p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>
       
        <div class="Card">
            <div class="card-container">
            <img src="~/Images/sprite-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">Refrigerante Sprite Lata 350ml</h5>
            <div class="Paragrafo-button">
               <p>Refrigerante elaborado a base de água gaseificada,
                   açúcar, suco natural de limão.</p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>

      <div class="Card">
            <div class="card-container">
            <img src="~/Images/Kuat-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">Refrigerante Kuat 600ml</h5>
            <div class="Paragrafo-button">
               <p>Elaborado com extrato das sementes do guaraná,
                   garantindo um sabor marcante e que agrada a toda família,
                   complementando bem as refeiçõ</p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>


      <div class="Card">
            <div class="card-container">
            <img src="~/Images/agua-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">Água Mineral Cristal Sem Gás 500ml</h5>
            <div class="Paragrafo-button">
               <p>Agua mineral natural Cristal, de Campos de Jordão para você. </p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>

    </div><!--Caixa-->

    

</div><!--Conatiner-serviços-->

    </body>