<body>
   <div class="background">
    <nav>
         <img src="~/Images/BELLAVINI__1_-removebg-preview.png" class="logo" />

        <ul class="cabeçalho-link">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Cardápio</a></li>
            <li><a href="#">Contato</a></li>

        </ul><!--cabeçalho-link-->
        <a href="#" class="btn">Fazer Pedido</a>
    </nav>

    <div class="Main">
        @*<h4>Explosão De Sabores</h4>*@
        <h1>Explosão</h1>
        <h1>De</h1>
        <h1><span>Sabores</span></h1>
        <h3>O melhor Hamburguer Artesanal da zona Oeste <span class="typing"></span></h3>

        </div><!--Main-->
    </div><!--Background-->

    <div class="Container-serviços">
    <div class="title">
        @*<h2>Conheça Nossos Serviços</h2>*@
    </div><!--title-->

    <div class="Caixa">
        <div class="Card">
            <div class="card-container">
            <img src="~/Images/Capa_do_Site_hamburguer-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">BellaTudo</h5>
            <div class="Paragrafo-button">
               <p>A função do infoproduto é resolver algum</p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>
       
        <div class="Card">
            <div class="card-container">
            <img src="~/Images/Capa_do_Site_hamburguer-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">Vini</h5>
            <div class="Paragrafo-button">
               <p>A função do infoproduto é resolver algum</p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>





    </div><!--Caixa-->
</div><!--Conatiner-serviços-->
    

<!--Conatiner-telefone-->
<div class="Container-telefone">
    
        <img src="~/Images/telefoneMaior-removebg-preview.png" class="img-telefone"/>
    

    <div class="Caixa-telefone">
        <div class="telefone">
       <h1 class="titulo-telefone">01</h1>
       <h5 class="titulo-descricao">Acesse o cardápio online, selecione seus itens e confirme seu pedido.</h5>
       </div>

       <div class="telefone">
       <h1 class="titulo-telefone">02</h1>
       <h5 class="titulo-descricao">Acesse o cardápio online, selecione seus itens e confirme seu pedido.</h5>
       </div>

       <div class="telefone">
       <h1 class="titulo-telefone">03</h1>
       <h5 class="titulo-descricao">Acesse o cardápio online, selecione seus itens e confirme seu pedido.</h5>
       </div>

       <div class="telefone">
       <h1 class="titulo-telefone">04</h1>
       <h5 class="titulo-descricao">Acesse o cardápio online, selecione seus itens e confirme seu pedido.</h5>
       </div>

    </div><!--Caixa-->
</><!--Conatiner-serviços-->



</body>