<body>
   <div class="background">
    <nav>
         <img src="~/Images/BELLAVINI__1_-removebg-preview.png" class="logo" />

        <ul class="cabeçalho-link">
            <li><a href="/home/index">Inicio</a></li>
            <li><a href="/home/cardapio">Cardápio</a></li>
            <li><a href="#footer_content">Contato</a></li>

        </ul><!--cabeçalho-link-->
        <a href="#" class="btn">Fazer Pedido</a>
    </nav>

    <div class="Main">
        @*<h4>Explosão De Sabores</h4>*@
        <h1 class="banner">Explosão</h1>
        <h1 class="banner">De</h1>
        <h1 class="banner">Sabores</h1>
        @*<h3>O melhor Hamburguer Artesanal da zona Oeste</h3>*@
        <h3>Saboreie o melhor hambúrguer Artesanal da zona oeste!<br>
            Feito com ingredientes frescos e selecionados,<br>
            para garantir a máxima qualidade e sabor.<br>


        </div><!--Main-->
    </div><!--Background-->

    <div class="Container-serviços">
    <div class="title">
        @*<h2>Conheça Nossos Serviços</h2>*@
    </div><!--title-->

    <div class="Caixa">
        <div class="Card">
            <div class="card-container">
            <img src="~/Images/Capa_do_Site_hamburguer-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">X - Bella</h5>
            <div class="Paragrafo-button">
               <p>Pão de gergilim, carne de 200g, alface,
                   tomate, cebola roxa, bacon,
                   mussarela, molho de bacon.</p>
               <a href="https://exemplo.com">
              <button type="button">Comprar agora</button>
              </a>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>

        <div class="Card">
            <div class="card-container">
            <img src="~/Images/Capa_do_site-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">Vini</h5>
            <div class="Paragrafo-button">
               <p>Pão de gergilim, carne de 200g, queijo bleu,cebola crispy, bacon, tomate, alface, esffira de queijo, molho verde.</p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>

      <div class="Card">
            <div class="card-container">
            <img src="~/Images/Capa_do_Site_hamburguer-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">BellaTudo</h5>
            <div class="Paragrafo-button">
               <p>pão de brioche, carne de 200g, linguiça,
                   bacon, mussarela, presunto, ovo,
                   cebola roxa, catupiry, alface,
                   tomate e molho barbecue.</p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>

      <div class="Card">
            <div class="card-container">
            <img src="~/Images/Capa_do_Site_hamburguer-removebg-preview.png" class="img-card"/>
            <div class="text-container">
            <h5 class="titulo-cardapio">4 Queijos</h5>
            <div class="Paragrafo-button">
               <p>Pão de brioche, carne de 200g, catupiry,
                   parmesão, queijo gorgonzola,
                   mussarela, molho verde.</p>
               <button type="button">Comprar agora</button>
             </div>
           </div><!--Paragrafo-button-->
        </div><!--Card-->
      </div>



    </div><!--Caixa-->
    <div class="button-container">
      <a href="/home/cardapio">
         <button type="button">Cardápio Completo</button>
      </a>
     </div>

</div><!--Conatiner-serviços-->


<!--Conatiner-telefone-->
<div class="Container-telefone">

        <img src="~/Images/telefoneMaior-removebg-preview.png" class="img-telefone"/>
        <h5 class="titulo-abaixo">Faça seu pedido online
       É simples, rápido e fácil!</h5>


    <div class="Caixa-telefone">
        <div class="telefone">
       <h1 class="titulo-telefone">01<span08>Acesse o cardápio online, selecione seus itens e confirme seu pedido.</span08></h1>
       </div>


       <div class="telefone">
       <h1 class="titulo-telefone">02<span08>Seu pedido será preparado pela nossa cozinha com toda dedicação.</span08></h1>
       </div>

       <div class="telefone">
       <h1 class="titulo-telefone">03<span08>Seu pedido será entregue pela nossa equipe de entregadores e chegará quentinho.</span08></h1>
       </div>

       <div class="telefone">
       <h1 class="titulo-telefone">04<span08>Pedido entregue, aproveite cada mordida e tenha um bom apetite</span08></h1>
       </div>

    </div><!--Caixa-->
</div><!--Conatiner-serviços-->
<div class="background-onda">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#DA8E26" fill-opacity="1" d="M0,32L34.3,53.3C68.6,75,137,117,206,160C274.3,203,343,245,411,229.3C480,213,549,139,617,117.3C685.7,96,754,128,823,165.3C891.4,203,960,245,1029,234.7C1097.1,224,1166,160,1234,128C1302.9,96,1371,96,1406,96L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path>
</svg>
</div>



</body>




